body{
    background-color: #000000;
}


.game-container {
    position: relative;
    width: 1255px;
    height: 625px;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startButton {
    margin-top: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: #000000;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.6);
    font-family: "Nunito", sans-serif;
    z-index: 100;
}

#startButton:hover {
    background: #1a047e;
}
